.clients__text
{
    color: $primary-color;
    font-weight: $fw-bold;
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
    text-align: center;
    @media screen and (max-width:1199px)
    {
        font-size: 28px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
        color: $primary-color;
        }
}
.clients
{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    // justify-content: space-between;

    @media screen and (max-width:767px)
    {
        margin: -15px;
        margin-left: 15px;
    }
    @media screen and (min-width:768px)
    {
        margin: 0;
    }
    /* flex-basis: calc((100% - 30% * 6) / 6); */
}
.clients__icons
{
    @media screen and (max-width:767px)
    {
      flex-basis: calc((100% - 2 * 30px) / 2);
      margin-right: 15px;
      margin-bottom: 15px;
    }
    @media screen and (min-width:767px) and (max-width:1199px)
    {
        &:not(:nth-child(3n+3))
        {
            margin-right: 30px;
            margin-bottom: 30px;
        }
    }
    @media screen and (min-width:768px) and (max-width:1199px)
    {
        &:nth-child(-n+3)
        {
            margin-bottom: 30px;
        }
    }
}
.clients__logo
{
    padding: 16px 32px 16px 32px;
    transition: fill 250ms $cubik;
    @media screen and (max-width:479px)
    {
        margin: 0;
        padding: 5px 32px;
      
    } 
}
.clients__link
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    // max-width: 170px;
    /* padding: 20px 63px; */
    border: 1px solid $icons-fill;
    fill: $icons-fill;
    border-radius: 4px;
    transition: border 250ms $cubik;
    @media screen and (max-width:767px){
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0%;
    }
    @media screen and (min-width:768px) and (max-width:1199px)
    {
        width: 100%;
    }
    &:hover,
    &:focus
{
    border: 1px solid $secondary-color; 
    fill: $secondary-color; 
}
    &:hover .clients__logo,
    &:focus .clients__logo
{
    fill: $secondary-color;
}
}

