.header
{
    border-bottom: 1px solid #ECECEC;
    &__container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
    &__nav__container
    {
        display: flex;
        align-items: center;
    }
}




