.header
{
    border-bottom: 1px solid #ECECEC;
}
.header__container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

}
.header__nav__container
{
    display: flex;
    align-items: center;
    // @media screen and (min-width:768px) {
    //     margin-right: auto;
    // }
}
.header__button
{
    width: 24px;
    height: 24px;
    display: block;
    background: transparent;
    border:none;
    padding: 0;
    line-height: 0;
    position: absolute;
    top: 20px;
    right: 20px;
    &:focus,
    &:hover
    {
        fill: $secondary-color;
    }

    @media screen and (min-width: 768px)
    {
    &{
            display: none;
        }
    }

}






