.logo {
    font-family: $font-secondary, $font-primary;
    font-weight: $fw-bold;
    font-size: 26px;
    line-height: 1.19;
    margin-right: 93px;
    &-link 
{
    color: $secondary-color;
}
    &-link-studio
{
    color: $primary-color;
}
}
