.icon-main
{
    display: flex;
    /* align-items: center; */
}
.icon-undermain:not(:last-child)
{
    margin-right: 10px;
}

.icon-link
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: $front-color;
    border-radius: 50%;
    transition: background-color 250ms $cubik;
    &:hover,
    &:focus
{
    background-color: $secondary-color;
}
    &:hover .icon-svg,
    &:focus .icon-svg
    { 
        fill: $front-color;
    }
}

.icon-svg
{
    transition: fill 250ms $cubik;
    fill: $icons-fill;
}
