// Делаем полурезироный контейнер
.container 
{
    padding-left: 15px;
    padding-right: 15px;
    outline: 1px solid red;
}
// КОгда ширина 480 + то мы его фиксируем
@media screen and (min-width:480px)
{
    .container{
        max-width: 480px;
       margin: 0 auto;
    }
}
// Для планшета
@media screen and (min-width:768px)
{
    .container{
        max-width: 768px;
    }
}
@media screen and (min-width:1200px)
{
    .container{
        max-width: 1200px;
    }
}




