//Variables-colors
$primary-color: #212121;
$secondary-color: #2196F3;
$paragraph-color: #757575;
$background-color: #2F303A;
$front-color: #FFFFFF;
$background-btn-team: #F5F4FA;
$icons-fill:#AFB1B8;
$cubik:cubic-bezier(0.4, 0, 0.2, 1);
// Fonts
$font-primary: "Roboto", sans-serif;
$font-secondary: "Raleway", sans-serif;

// Weight
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
$fw-black: 900;





